<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mybatis.springstudy.write.mapper.WriteMapper">

    <insert id="insertWrites" parameterType="Writes" useGeneratedKeys="true" keyProperty="writeId">
        INSERT INTO writes (title, content, writer, reg_date, update_date, delete_date)
        VALUES (#{title}, #{content}, #{writer}, #{regDate}, #{updateDate}, #{deleteDate})
    </insert>

    <select id="getListWrite" parameterType="RequestList" resultType="writes">
        SELECT write_id,
        title,
        content,
        writer,
        reg_date
        FROM writes
        LIMIT ${pageable.offset} , ${pageable.pageSize}
    </select>

    <select id="getQueryWrite" parameterType="RequestList" resultType="writes">
        SELECT write_id,
        title,
        content,
        writer,
        reg_date
        FROM writes
        where state = 'ACTIVE'
            AND (
                <if test="data.title != null and data.title != ''">
                    title LIKE CONCAT('%', #{title}, '%')
                </if>
                <if test="data.title != null and data.title != '' and data.content != null and data.content != ''">
            OR
                </if>
                <if test="content != null and content != ''">
                    content LIKE CONCAT('%', #{content}, '%')
                </if>
            )
        where
        LIMIT ${pageable.offset} , ${pageable.pageSize}
    </select>

    <select id="getListWritesCount" parameterType="writes" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM writes
        <where>
            <if test="title != null and title != ''">
                AND TITLE LIKE '%' || #{title} || '%'
            </if>
            <if test="writer != null and writer != ''">
                AND WRITER LIKE '%' || #{writer} || '%'
            </if>
        </where>
    </select>

</mapper>